.wp-block-button.incc-icon-button {
    .wp-block-button__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--incc-icon-gap, 8px);

        &.has-text-align-left {
            justify-content: flex-start !important;
        }

        &.has-text-align-center {
            justify-content: center !important;
        }

        &.has-text-align-right {
            justify-content: flex-end !important;
        }

        &:after {
            content: '';
            display: none;
            flex-shrink: 0;
            pointer-events: none;
            width: var(--incc-icon-size, 1em);
            height: var(--incc-icon-size, 1em);
            mask-image: var(--incc-icon-url);
            mask-position: center;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: currentColor;
        }
    }

    &.incc-icon-before {
        .wp-block-button__link {
            flex-direction: row-reverse;
        }
    }
}
